@import 'bootstrap' 

html body {
    background-color: rgba(177, 177, 177, 0.815);

}

.navbar{
   background-color: brown
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}


.btn {
    color:darkorange
}

.jumbotron{
    background-image: asset-url('Dends.jpeg');
    background-position: center center;
    background-size: 55%;
	background-repeat: no-repeat; 
}

.jumboletters{
    color:rgb(202, 72, 11)
}

.jumbotron2{
    background-image: asset-url('GOBUcks3.jpeg');
    background-position: center center;
    background-size: cover; 
	background-repeat: no-repeat; 
}

#page-content{
    background-color: rgb(255, 255, 255);
}

.sharejumbo{
    background-image: asset-url('GOBUcks3.jpeg');
    background-position: center center;
    background-size: cover; 
	background-repeat: no-repeat; 
}

.sharejumbo2{
    background-image: asset-url('MU2.jpeg');
    background-position: center center;
    background-size: cover; 
	background-repeat: no-repeat;
}

.homebutton{
    color: darkorange; 
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
  }
  
  input {
    height: auto !important;
  }

